.content {
    &-search-trending-search {
    margin: 49px 0 12px 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    .headerSearch {
        position: relative;
        display: inline-block;
        width: 600px;
        margin-right: 14px;
        input {
            background: #f2f2f2;
            color: #666;
            padding: 0 16px;
            height: 46px;
            width: 100%;
            font-family: "Interstate";
            font-size: 16px;
            border-radius: 4px;
            border: 0;
        }
        &-submit {
            position: absolute;
            background: transparent url('../img/search.svg') no-repeat 0 0;
            background-size: 19px 19px;
            background-position: center center;
            border: 0;
            padding: 0;
            top: 0;
            right: 0;
            width: 50px;
            height: 46px;
        }
    }
    &-upload {
        margin-left: 14px;
        padding: 11px 23px;
        height: 46px;
        font-size: 16px;
    }
    }
    &-search-trending-tracks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        &-title {
            font-size: 24px;
            text-align: center;
            padding: 20px 0 30px 0;
        }
        &-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            .list-item {
                display: flex;
                flex-direction: column;
                width: 15.1%;
                height: 48%;
                padding-bottom: 35px;
                &-cover {
                    position: relative;
                    height: auto;
                    width: 100%;
                    padding-top: 100%;
                    box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
                    &:hover {
                        .cover-hover {
                            opacity: 1;
                        }
                    }
                    .cover-hover {
                        opacity: 0;
                        &-play {
                            position: absolute;
                            left: 34%;
                            top: 34%;
                            right: 34%;
                            bottom: 34%;
                            &-button {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            background: #f50 url('../img/play.svg') no-repeat 55% 50%;
                            background-size: 38%;
                            border: 0;
                                &:hover {
                                    background-color: #ff3408;
                                }
                            }
                        }
                        &-actions {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 40px;
                            padding: 5px;
                            background: linear-gradient(to top,rgba(0,0,0,.4),rgba(0,0,0,0));
                            box-sizing: border-box;
                            display: flex;
                            justify-content: flex-end;
                            .like {
                                min-width: 25px;
                                padding-top: 5px;
                                &-button {
                                    width: 100%;
                                    height: 100%;
                                    border: 0;
                                    background: url('../img/heart.svg') no-repeat 50% 50%;
                                }
                            }
                            .more {
                                @extend .like;
                                &-button {
                                    @extend .like-button;
                                    background: url('../img/more.svg') no-repeat 50% 50%;
                                }
                            }
                        }
                    }
                }
                .one {
                    background: url('../img/1.jpg') 50% 50%/cover no-repeat;
                }
                .two {
                    background: url('../img/2.jpg') 50% 50%/cover no-repeat;
                }
                .three {
                    background: url('../img/3.jpg') 50% 50%/cover no-repeat;
                }
                .four {
                    background: url('../img/4.jpg') 50% 50%/cover no-repeat;
                }
                .five {
                    background: url('../img/5.jpg') 50% 50%/cover no-repeat;
                }
                .six {
                    background: url('../img/6.jpg') 50% 50%/cover no-repeat;
                }
                .seven {
                    background: url('../img/7.jpg') 50% 50%/cover no-repeat;
                }
                .eight {
                    background: url('../img/8.jpg') 50% 50%/cover no-repeat;
                }
                .nine {
                    background: url('../img/9.jpg') 50% 50%/cover no-repeat;
                }
                .ten {
                    background: url('../img/11.jpg') 50% 50%/cover no-repeat;
                }
                .eleven {
                    background: url('../img/10.jpg') 50% 50%/cover no-repeat;
                }
                .twelve {
                    background: url('../img/12.jpg') 50% 50%/cover no-repeat;
                }
                &-title {
                    display: flex;
                    flex-direction: column;
                    padding-top: 5px;
                    a {
                        display: block;
                        color: #333;
                        font-size: 14px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .artist {
                        font-size: 13px;
                        color: #999;
                        &:hover {
                            color: #333;
                        }
                    }
                }
            }
        }
        &-explore {
            text-align: center;
            padding: 20px 0 80px;
            a {
                font-size: 18px;
                height: 46px;
                padding: 11px 23px;
            }
        }
    }
}
