$primary-color: #fff;

@font-face {
    font-family: 'Interstate';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/InterstateLight.ttf');
}

@font-face {
    font-family: 'LucidaGrande';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/LucidaGrande.ttf');
}

@font-face {
    font-family: 'LucidaSans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/LucidaSans.ttf');
}

@font-face {
    font-family: 'LucidaSansUnicode';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/LucidaSansUnicode.ttf');
}

html {
  padding: 0;
  margin: 0;
}

body {
    @extend html;
    background: #f2f2f2;
    font: 12px/1.4 "Interstate";
    color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

.container {
  padding: 0 30px;
  max-width: 1180px;
  margin: 0 auto;
  background: $primary-color;
}

.fullwidth {
        margin-left: -30px;
        margin-right: -30px;
    }

input[type='search'] {
    outline: 0;
    &::-webkit-search-cancel-button, {
    display: none;
}
}

button {
    cursor: pointer;
    outline: 0;
}

.sc-button {
    height: 26px;
    padding: 2px 12px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Interstate";
    box-sizing: border-box;
}

.primary-button {
    font-size: 18px;
    min-width: 210px;
    height: 46px;
}

.button {
    background-color: #f50;
    border-color: #f50;
    color: $primary-color;
}
.e-button {
    background: 0 0;
    border-color: #ccc;
    &:hover {
        border-color: #e5e5e5;
    }
}

.sc-verylight {
    color: #ccc;
}

@media screen and (max-width: 1239px) {
    .container {
        max-width: 1020px;
    }
}

@media screen and (max-width: 1079px) {
    .container {
        width: 920px;
        padding: 0 20px;
    }
    .fullwidth {
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media screen and (max-width: 975px) {
    .container {
        width: 880px;
        padding: 0 10px;
    }
    .fullwidth {
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media screen and (max-width: 915px) {
    .container {
        width: 820px;
        padding: 0 10px;
    }
    .fullwidth {
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media screen and (max-width: 855px) {
    .container {
        width: 780px;
        padding: 0 10px;
    }
    .fullwidth {
        margin-left: -10px;
        margin-right: -10px;
    }
    .headerSearch {
        width: 500px !important;
    }
}

@media screen and (max-width: 813px) {
    .container {
        width: 745px;
        padding: 0 10px;
    }
    .fullwidth {
        margin-left: -10px;
        margin-right: -10px;
    }
    .headerSearch {
        width: 500px !important;
    }
}

@import "_header";
@import "_search";
@import "_teaser";
@import "_footer";
